:root {
  --tui-base-01: #f6f6f6;
  --tui-base-02: #ededed;
  --tui-text-01: #111;
  --tui-text-02: #555;
  --tui-success-fill: #18a34a;
  --tui-error-fill: #dc2626;
  --tui-warning-fill: #f97316;
  --tui-info-fill: #2563eb;
  --tui-radius-m: 9999px;
  --tui-radius-s: 0.25rem;
}
