.layout {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.content {
  display: block;
}

.app-title {
//  //margin-bottom: var(--tui-space-m);
  margin-bottom: 0;
//  color: var(--tui-text-01, #111);
//  text-transform: uppercase;
//  //letter-spacing: 0.04em;
}

app-ws-status {
  position: fixed;
  top: 0.75rem;
  right: 1.5rem; /* or whatever your container padding is */
  z-index: 1000;
}
